<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Shoppers - Admin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700"> 
    <link rel="stylesheet" href="/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="/css/aos.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
  <!-- Confirmation Modal -->
  <div class="modal fade" id="deleteConfirmModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteConfirmModalLabel">Confirm Deletion</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete this product?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger" id="confirmDelete">Delete</button>
        </div>
      </div>
    </div>
  </div>
  <div class="site-wrap">
    <header class="site-navbar" role="banner">
      <div class="site-navbar-top">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
              <form action="" class="site-block-top-search">
                <span class="icon icon-search2"></span>
                <input type="text" class="form-control border-0" placeholder="Search">
              </form>
            </div>

            <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
              <div class="site-logo">
                <a href="/admin/" class="js-logo-clone">Shoppers Admin</a>
              </div>
            </div>

            <div class="col-6 col-md-4 order-3 order-md-3 text-right">
              <div class="site-top-icons">
                <ul>
                  <li><a href="" id="logout">Logout</a></li>
                </ul>
              </div> 
            </div>

          </div>
        </div>
      </div> 
    </header>

    <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-12">
            <div class="float-md-left"><h2 class="text-black h5">Manage Products</h2></div>
            <div class="float-md-right mb-4">
              <a href="/admin/product/create" class="btn btn-primary">Create New Product</a>
            </div>
          </div>
        </div>

        <div id="product-container" class="row mb-5">
          <div class="col-md-12 order-2">
            <div class="row mb-5">
              
              <!-- Sample product items, you would generate these dynamically from your database -->
              <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                <div class="block-4 text-center border">
                  <figure class="block-4-image">
                    <a href="/admin/product/update/1"><img src="/images/cloth_1.jpg" alt="Image placeholder" class="img-fluid"></a>
                  </figure>
                  <div class="block-4-text p-4">
                    <h3><a href="/admin/product/update/1">Tank Top</a></h3>
                    <p class="mb-0">Finding perfect t-shirt</p>
                    <p class="text-primary font-weight-bold">$50</p>
                    <a href="/admin/product/update/1" class="btn btn-sm btn-primary">Edit</a>
                    <a href="" class="btn btn-sm btn-danger">Delete</a>
                  </div>
                </div>
              </div>
              
              <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                <div class="block-4 text-center border">
                  <figure class="block-4-image">
                    <a href="/admin/product/update/2"><img src="/images/shoe_1.jpg" alt="Image placeholder" class="img-fluid"></a>
                  </figure>
                  <div class="block-4-text p-4">
                    <h3><a href="/admin/product/update/2">Corater</a></h3>
                    <p class="mb-0">Finding perfect products</p>
                    <p class="text-primary font-weight-bold">$50</p>
                    <a href="/admin/product/update/2" class="btn btn-sm btn-primary">Edit</a>
                    <a href="" class="btn btn-sm btn-danger">Delete</a>
                  </div>
                </div>
              </div>
              
              <!-- Add more product items here -->

            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>

  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/js/jquery-ui.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/jquery.magnific-popup.min.js"></script>
  <script src="/js/aos.js"></script>
  <script src="/js/main.js"></script>
  <script>
    $(document).ready(function() {
      const user = JSON.parse(localStorage.getItem('user'));
      const token = localStorage.getItem('token');
      if (!user || user.role !== 'ADMIN') {
        window.location.href = '/error';
      }

      let productIdToDelete = null;

      $('#logout').on('click', function(event) {
        event.preventDefault();

        $.ajax({
          url: '/logout',
          type: 'POST',
          success: function(response) {
            localStorage.clear();
            window.location.href = '/';
          },
          error: function(error) {
            console.error('Error logging out:', error);
            alert('There was an error logging out. Please try again later.');
          }
        });
      });

      // Function to render products
      function renderProducts(products) {
        const productContainer = $('#product-container');
        productContainer.empty();
        products.forEach(product => {
          const productHtml = `
          <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
            <div class="block-4 text-center border">
              <figure class="block-4-image">
                <a href="/admin/product/update/${product.productId}"><img src="${product.imageURL}" alt="Image placeholder" class="img-fluid"></a>
              </figure>
              <div class="block-4-text p-4">
                <h3><a href="/admin/product/update/${product.productId}">${product.name}</a></h3>
                <p class="mb-0">${product.description}</p>
                <p class="text-primary font-weight-bold">$${product.price}</p>
                <a href="/admin/product/update/${product.productId}" class="btn btn-sm btn-primary">Edit</a>
                <button class="btn btn-sm btn-danger delete-product" data-product-id="${product.productId}">Delete</button>
              </div>
            </div>
          </div>
        `;
          productContainer.append(productHtml);
        });
      }

      // Fetch all products and render them
      $.ajax({
        url: 'http://localhost:8080/api/product/',
        type: 'GET',
        success: function(response) {
          const products = response.data;
          renderProducts(products);
        },
        error: function(error) {
          console.error('Error fetching products:', error);
        }
      });

      $('.site-block-top-search input').on('input', function(event) {
        const searchTerm = $(this).val();
        if (searchTerm) {
          $.ajax({
            url: `/api/product/searchByName?name=${encodeURIComponent(searchTerm)}`,
            type: 'GET',
            success: function(response) {
              renderProducts(response.data);
            },
            error: function(error) {
              console.error('Error:', error);
            }
          });
        }
      });

      // Event delegation for delete buttons
      $(document).on('click', '.delete-product', function() {
        productIdToDelete = $(this).data('product-id');
        $('#deleteConfirmModal').modal('show');
      });

      // Confirm delete action
      $('#confirmDelete').on('click', function() {
        if (productIdToDelete) {
          $.ajax({
            url: `http://localhost:8080/api/product/${productIdToDelete}`,
            type: 'DELETE',
            headers: {
              'Authorization': `Bearer ${token}`,
            },
            success: function(response) {
              $('#deleteConfirmModal').modal('hide');
              // Refresh the product list
              $.ajax({
                url: 'http://localhost:8080/api/product/',
                type: 'GET',
                success: function(response) {
                  const products = response.data;
                  renderProducts(products);
                },
                error: function(error) {
                  console.error('Error fetching products:', error);
                }
              });
            },
            error: function(error) {
              console.error('Error deleting product:', error);
              alert('There was an error deleting the product. Please try again later.');
            }
          });
        }
      });
    });
  </script>
  </body>
</html>