<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Shoppers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700"> 
    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">


    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/style.css">
    
  </head>
  <body>
  
  <div class="site-wrap">
    <header class="site-navbar" role="banner">
      <div class="site-navbar-top">
        <div class="container">
          <div class="row align-items-center">
            <!--Search bar-->
            <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
            </div>

            <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
              <div class="site-logo">
                <a href="/" class="js-logo-clone">Shoppers</a>
              </div>
            </div>
            <!--Personal Option-->
            <div class="col-6 col-md-4 order-3 order-md-3 text-right">
              <div class="site-top-icons">
                <ul>
                  <!--User icon-->
                  <li class="dropdown">
                    <a href="#" id="user-icon" class="dropdown-toggle"><span class="icon icon-person"></span></a>
                    <div id="user-menu" class="dropdown-menu" style="display: none;">
                      <p id="user">Guest</p>
                      <a href="/login" id="login">Login</a>
                      <a href="" id="logout" style="display: none;">Logout</a>
                      <a href="/register" id="register">Register</a>
                    </div>
                  </li>
                  <!--Cart icon-->
                  <li>
                    <a href="cart" class="site-cart">
                      <span class="icon icon-shopping_cart"></span>
                      <span class="count">0</span>
                    </a>
                  </li> 
                 
                </ul>
              </div> 
            </div>

          </div>
        </div>
      </div> 
      
    </header>

    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Cart</strong></div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <form class="col-md-12" method="post">
            <div class="site-blocks-table">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="product-thumbnail">Image</th>
                    <th class="product-name">Product</th>
                    <th class="product-price">Price</th>
                    <th class="product-quantity">Quantity</th>
                    <th class="product-total">Total</th>
                    <th class="product-remove">Remove</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
          </form>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="row mb-5">
              <div class="col-md-6">
                <button class="btn btn-outline-primary btn-sm btn-block" onclick="window.location='/'">Continue Shopping</button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12"></div>
              <div class="col-md-8 mb-3 mb-md-0"></div>
              <div class="col-md-4"></div>
            </div>
          </div>
          <div class="col-md-6 pl-5">
            <div class="row justify-content-end">
              <div class="col-md-7">
                <div class="row">
                  <div class="col-md-12 text-right border-bottom mb-5">
                    <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-6">
                    <span class="text-black">Total quantity</span>
                  </div>
                  <div class="col-md-6 text-right">
                    <strong class="text-black" id="total-quantity">0</strong>
                  </div>
                </div>
                <div class="row mb-5">
                  <div class="col-md-6">
                    <span class="text-black">Total</span>
                  </div>
                  <div class="col-md-6 text-right">
                    <strong class="text-black" id="total-price">$0.0</strong>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <button class="btn btn-primary btn-lg py-3 btn-block" onclick="window.location='cart/checkout'">Proceed To Checkout</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>

  <script src="js/main.js"></script>
  <script>
    $(document).ready(function() {
      const user = JSON.parse(localStorage.getItem('user'));
      const cartId = localStorage.getItem('cartId');

      if (user) {
        $('#user').text(user.name);
        $('#login').hide();
        $('#register').hide();
        $('#logout').show();
      }

      function updateCartTotals(cartItems) {
        let totalQuantity = 0;
        let totalPrice = 0.0;
        let count = 0;
        cartItems.forEach(item => {
          totalQuantity += item.quantity;
          totalPrice += item.totalPrice;
          count++;
        });

        $('#total-quantity').text(totalQuantity);
        $('#total-price').text(`$${totalPrice.toFixed(2)}`);
        $('.count').text(count);
      }

      function renderCartItems(cartItems) {
        let cartHtml = '';
        cartItems.forEach(item => {
          cartHtml += `
        <tr>
          <td class="product-thumbnail">
            <img src="${item.product.imageURL}" alt="Image" class="img-fluid">
          </td>
          <td class="product-name">
            <h2 class="h5 text-black">${item.product.name}</h2>
          </td>
          <td>$${item.unitPrice.toFixed(2)}</td>
          <td class="product-quantity text-center">
            <div class="input-group mb-3" style="max-width: 120px; margin: 0 auto;">
              <div class="input-group-prepend">
                <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
              </div>
              <input type="text" class="form-control text-center" value="${item.quantity}" required placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
              <div class="input-group-append">
                <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
              </div>
            </div>
          </td>
          <td>$${item.totalPrice.toFixed(2)}</td>
          <td><a href="#" class="btn btn-primary btn-sm">X</a></td>
        </tr>
      `;
        });
        $('tbody').html(cartHtml);
      }

      if (user && cartId) {
        const token = localStorage.getItem('token');
        $.ajax({
          url: `http://localhost:8080/api/cart/${cartId}`,
          type: 'GET',
          headers: {
            'Authorization': `Bearer ${token}`
          },
          success: function(cartResponse) {
            const cartItems = cartResponse.data.cartItems;
            renderCartItems(cartItems);
            updateCartTotals(cartItems);
          },
          error: function(error) {
            console.error('Error fetching cart details:', error);
          }
        });
      } else {
        let items = JSON.parse(localStorage.getItem('items')) || [];
        renderCartItems(items);
        updateCartTotals(items);
      }

      $('#logout').on('click', function(event) {
        event.preventDefault();

        $.ajax({
          url: '/logout',
          type: 'POST',
          success: function(response) {
            localStorage.clear();
            window.location.href = '/';
          },
          error: function(error) {
            console.error('Error logging out:', error);
            alert('There was an error logging out. Please try again later.');
          }
        });
      });
    });
  </script>
  </body>
</html>