<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Shoppers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700"> 
    <link rel="stylesheet" href="/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">


    <link rel="stylesheet" href="/css/aos.css">

    <link rel="stylesheet" href="/css/style.css">
    
  </head>
  <body>
  
  <div class="site-wrap">
    <header class="site-navbar" role="banner">
      <div class="site-navbar-top">
        <div class="container">
          <div class="row align-items-center">
            <!--Search bar-->
            <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
            </div>

            <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
              <div class="site-logo">
                <a href="/" class="js-logo-clone">Shoppers</a>
              </div>
            </div>
            <!--Navigation -->
            <div class="col-6 col-md-4 order-3 order-md-3 text-right">
              <div class="site-top-icons">
                <ul>
                  <li class="dropdown">
                    <a href="#" id="user-icon" class="dropdown-toggle"><span class="icon icon-person"></span></a>
                    <div id="user-menu" class="dropdown-menu" style="display: none;">
                      <p id="user">Guest</p>
                      <a href="/login" id="login">Login</a>
                      <a href="" id="logout" style="display: none;">Logout</a>
                      <a href="/register" id="register">Register</a>
                    </div>
                  </li>
                  <!--Cart icon-->
                  <li>
                    <a href="/cart" class="site-cart">
                      <span class="icon icon-shopping_cart"></span>
                      <span class="count">0</span>
                    </a>
                  </li> 
                 
                </ul>
              </div> 
            </div>

          </div>
        </div>
      </div> 
      
    </header>

    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span> <a href="/cart">Cart</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Checkout</strong></div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mb-5 mb-md-0">
            <h2 class="h3 mb-3 text-black">Billing Details</h2>
            <div class="p-3 p-lg-5 border">
              <div class="form-group row">
                <div class="col-md-6">
                  <label for="firstName" class="text-black">First Name <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="firstName" name="firstName">
                </div>
                <div class="col-md-6">
                  <label for="lastName" class="text-black">Last Name <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="lastName" name="lastName">
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <label for="c_address" class="text-black">Address <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="c_address" name="c_address" placeholder="Street address">
                </div>
              </div>

              <div class="form-group row mb-5">
                <div class="col-md-6">
                  <label for="c_email_address" class="text-black">Email Address <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="c_email_address" name="c_email_address">
                </div>
                <div class="col-md-6">
                  <label for="c_phone" class="text-black">Phone <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="c_phone" name="c_phone" placeholder="Phone Number">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row mb-5">
              <div class="col-md-12">
                <h2 class="h3 mb-3 text-black">Your Order</h2>
                <div class="p-3 p-lg-5 border">
                  <table class="table site-block-order-table mb-5">
                    <thead>
                      <th>Product</th>
                      <th>Total</th>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="text-black font-weight-bold"><strong>Order Total</strong></td>
                        <td class="text-black font-weight-bold"><strong>$0.00</strong></td>
                      </tr>
                    </tbody>
                  </table>

                  <div class="form-group">
                    <button id="placeOrderButton" class="btn btn-primary btn-lg py-3 btn-block">Place Order</button>
                  </div>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/js/jquery-ui.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/jquery.magnific-popup.min.js"></script>
  <script src="/js/aos.js"></script>

  <script src="/js/main.js"></script>
  <script>
    $(document).ready(function() {
      const user = JSON.parse(localStorage.getItem('user'));
      var cartId = localStorage.getItem('cartId') ? localStorage.getItem('cartId') : null;

      if (user) {
        $('#user').text(user.name);
        $('#login').hide();
        $('#register').hide();
        $('#logout').show();

        // Fill billing details with user information
        $('#firstName').val(user.name.split(' ')[0]);
        $('#lastName').val(user.name.split(' ')[1]);
        $('#c_email_address').val(user.email);
        $('#c_phone').val(user.phoneNumber);
        $('#c_address').val(user.address);
      }
      // For User
      if (user && cartId && cartId !== 'null') {
        const token = localStorage.getItem('token');
        $.ajax({
          url: `http://localhost:8080/api/cart/${cartId}`,
          type: 'GET',
          headers: {
            'Authorization': `Bearer ${token}`
          },
          success: function(cartResponse) {
            const cartItems = cartResponse.data.cartItems;
            $('.count').text(cartItems.length);

            // Update order details with cart items
            let orderHtml = '';
            cartItems.forEach(item => {
              orderHtml += `
                          <tr>
                            <td>${item.product.name} <strong class="mx-2">x</strong> ${item.quantity}</td>
                            <td>$${(item.unitPrice * item.quantity).toFixed(2)}</td>
                          </tr>`;
            });

            // Update the order total
            const orderTotal = cartItems.reduce((total, item) => total + (item.unitPrice * item.quantity), 0);
            orderHtml += `
                        <tr>
                          <td class="text-black font-weight-bold"><strong>Order Total</strong></td>
                          <td class="text-black font-weight-bold"><strong>$${orderTotal.toFixed(2)}</strong></td>
                        </tr>`;

            // Render the order details in the table
            $('.site-block-order-table tbody').html(orderHtml);
          },
          error: function(error) {
            console.error('Error fetching cart details:', error);
          }
        });
      } else {
        // For guest
        let items = JSON.parse(localStorage.getItem('items')) || [];
        $('.count').text(items.length);

          // Function to fetch product data and render order details
        function fetchProductDataAndRenderOrder(items) {
          let orderHtml = '';
          let orderTotal = 0;
          let requests = items.map(item => {
            return $.ajax({
              url: `http://localhost:8080/api/product/${item.productId}`,
              type: 'GET',
              success: function(response) {
                const product = response.data;
                orderHtml += `
                        <tr>
                          <td>${product.name} <strong class="mx-2">x</strong> ${item.quantity}</td>
                          <td>$${(item.unitPrice * item.quantity).toFixed(2)}</td>
                        </tr>`;
                orderTotal += item.unitPrice * item.quantity;
              },
              error: function(error) {
                console.error('Error fetching product data:', error);
              }
            });
          });

          $.when.apply($, requests).then(function() {
            orderHtml += `
                    <tr>
                      <td class="text-black font-weight-bold"><strong>Order Total</strong></td>
                      <td class="text-black font-weight-bold"><strong>$${orderTotal.toFixed(2)}</strong></td>
                    </tr>`;
            $('.site-block-order-table tbody').html(orderHtml);
          });
        }

        // Fetch product data and render order details
        fetchProductDataAndRenderOrder(items);
      }


      $('#logout').on('click', function(event) {
        event.preventDefault();

        $.ajax({
          url: '/logout',
          type: 'POST',
          success: function(response) {
            localStorage.clear();
            window.location.href = '/';
          },
          error: function(error) {
            console.error('Error logging out:', error);
            alert('There was an error logging out. Please try again later.');
          }
        });
      });

      $('#placeOrderButton').on('click', function(event) {
        event.preventDefault();

        // Get billing details
        const firstName = $('#firstName').val().trim();
        const lastName = $('#lastName').val().trim();
        const address = $('#c_address').val().trim();
        const email = $('#c_email_address').val().trim();
        const phone = $('#c_phone').val().trim();

        // Validate required fields
        if (!firstName || !lastName || !address || !email || !phone) {
          alert('All fields are required.');
          return;
        }

        const user = JSON.parse(localStorage.getItem('user'));
        const cartId = localStorage.getItem('cartId');

        //Place order for user
        if (user && cartId && cartId !== 'null') {
          // For user
          const requestData = {
            userId: user.id,
            address: address
          };

          $.ajax({
            url: '/api/order',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(requestData),
            success: function(response) {
              if (response.message === "Place order successfully!") {
                window.location.href = '/thankyou';
              } else {
                alert('Error placing order: ' + response.message);
              }
            },
            error: function(error) {
              console.error('Error placing order:', error);
              alert('There was an error placing the order. Please try again later.');
            }
          });
        } else {
          // place order for guest
          const items = JSON.parse(localStorage.getItem('items')) || [];
          const requestData = {
            firstName: firstName,
            lastName: lastName,
            address: address,
            email: email,
            phone: phone,
            items: items
          };

          $.ajax({
            url: '/api/order',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(requestData),
            success: function(response) {
              if (response.message === "Place order successfully!") {
                localStorage.removeItem('items');
                window.location.href = '/thankyou';
              } else {
                alert('Error placing order: ' + response.message);
              }
            },
            error: function(error) {
              console.error('Error placing order:', error);
              alert('There was an error placing the order. Please try again later.');
            }
          });
        }
      });
    });
  </script>
  </body>
</html>